	<ion-view view-title="{{ videotutorial.snippet.title }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-videotutorial_singles" class="page-videotutorial_singles">
		
    
<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
<div class="list">

	<div class="item item-title" ng-bind-html="videotutorial.snippet.title | to_trusted">
    {{videotutorial.snippet.title}}
    </div>
    
	<div class="item noborder" ng-if="videotutorial.snippet.resourceId.videoId" >
        <div class="embed_container">
            <iframe 
                width="100%" 
                ng-src="{{ 'https://www.youtube.com/embed/' + videotutorial.snippet.resourceId.videoId + '?enablejsapi=1' | trustUrl }}" 
                frameborder="0" 
                allowfullscreen>
            </iframe>
        </div>
    </div>
	<div class="item item-text-wrap noborder to_trusted" 
        ng-bind-html="videotutorial.snippet.description | strHTML">
    </div>
    
    <div class="item item-text-wrap text-center noborder">
        <button class="button button-assertive">Open With Youtube App</button>
    </div>
    
</div>

    
    
		</ion-content>
		<!-- ./content -->
	</ion-view>
